{% extends "./index.html" %}
{% load static %}

{% block title %} Acompañantes {% endblock %}

{% block content %}
<div class="container">
    <div class="col">
        <div class="row mt-5">
            <div class="card h-100" style="width: 18rem;">
                <img src="{% static 'media/batido-pina-coco.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jugo de Piña y Coco</h5>
                    <p class="card-text">Jugo de Piña y Coco Natural</p>
                    <br>
                    <a href="/carrito" class="btn btn-primary">$ 2.990</a>
                </div>
            </div>
            <div class="card h-100" style="width: 18rem;">
                <img src="{% static 'media/wmtcl.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lata Sprite</h5>
                    <p class="card-text">Bebida de Fantasía Sabor Limón</p>
                    <br>
                    <a href="/carrito" class="btn btn-primary">$ 990</a>
                </div>
            </div>
            <div class="card h-100" style="width: 18rem;">
                <img src="{% static 'media/como_hacer_jugo_de_fresa_28828_orig.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jugo de Frutilla</h5>
                    <p class="card-text">Jugo de Frutilla Natural</p>
                    <br>
                    <a href="/carrito" class="btn btn-primary">$ 2.990</a>
                </div>
            </div>
            <div class="card h-100" style="width: 18rem;">
                <img src="{% static 'media/540.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lata Pepsi</h5>
                    <p class="card-text">Bebida de Fantasía Sabor Cola</p>
                    <br>
                    <a href="/carrito" class="btn btn-primary">$ 990</a>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}