{% extends "./index.html" %}
{% load static %}

{% block title %} Entradas {% endblock %}

{% block content %}
<div class="container">
    <div class="col">
        <div class="row mt-5">
            <div class="card h-100" style="width: 18rem;">
                <img src="{% static 'media/fotografia-de-una-crema-de-esparragos-verdes.webp' %}" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title text-body-primary">Crema de Esparragos</h5>
                    <p class="card-text">Crema de Esparragos deliciosa y cremosa</p>
                    <br>
                    <a href="/carrito" class="btn btn-primary">$ 3.990</a>
                </div>
            </div>
            <div class="card h-100" style="width: 18rem;">
                <img src="{% static 'media/cevichedelangostinos.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ceviche de Langostinos</h5>
                    <p class="card-text">Exquisito ceviche de langostinos nacionales</p>
                    <br>
                    <a href="/carrito" class="btn btn-primary">$ 5.990</a>
                </div>
            </div>
            <div class="card h-100" style="width: 18rem;">
                <img src="{% static 'media/croquetas-de-coliflor_1920x1080-thumbnail.jpg' %}" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Croquetas de Coliflor</h5>
                    <p class="card-text">Exquisita crema de champiñones casera</p>
                    <br>
                    <a href="/carrito" class="btn btn-primary">$ 4.990</a>
                </div>
            </div>
            <div class="card h-100" style="width: 18rem;">
                <img src="{% static 'media/sopa-champinones-1920.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Crema de Champiñones</h5>
                    <p class="card-text">Exquisita crema de champiñones casera</p>
                    <br>
                    <a href="/carrito" class="btn btn-primary">$ 3.990</a>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}