{% extends "./index.html" %}
{% load static %}

{% block title %} Platos {% endblock %}

{% block content %}
<div class="container">
    <div class="col">
        <div class="row mt-5">
            <div class="card h-100" style="width: 18rem;">
                <img src="{% static 'media/comida-vegana.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ensalada Vegana</h5>
                    <p class="card-text">Ensalada vegana con hamburguesa de tofu</p>
                    <br>
                    <a href="#" class="btn btn-primary">$ 7.990</a>
                </div>
            </div>
            <div class="card h-100" style="width: 18rem;">
                <img src="{% static 'media/espaguetis-a-la-bolonesa.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Spaguettis a la Bolognesa</h5>
                    <p class="card-text">Fina pasta hecha en casa con salsa a la bolognesa</p>
                    <br>
                    <a href="#" class="btn btn-primary">$ 8.990</a>
                </div>
            </div>
            <div class="card h-100" style="width: 18rem;">
                <img src="{% static 'media/F2U3JERSPVG57HXAVSI7GQXXL4.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lomo Saltado</h5>
                    <p class="card-text">Delicioso Lomo Saltado con carne nacional</p>
                    <br>
                    <a href="#" class="btn btn-primary">$ 9.990</a>
                </div>
            </div>
            <div class="card h-100" style="width: 18rem;">
                <img src="{% static 'media/lasana-a-la-bolonesa.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lasagna</h5>
                    <p class="card-text">Delicosa Lasagna hecha con ingredientes nacionales</p>
                    <br>
                    <a href="#" class="btn btn-primary">$ 7.990</a>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}