{% extends "./index.html" %}
{% load static %}

{% block title %} Postres {% endblock %}

{% block content %}
<div class="container">
    <div class="col">
        <div class="row mt-5">
            <div class="card h-100" style="width: 18rem;">
                <img src="{% static 'media/1684846876915.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tiramisú</h5>
                    <p class="card-text">Torta de Tiramisú para chuparse los dedos</p>
                    <br>
                    <a href="/carrito" class="btn btn-primary">$ 3.990</a>
                </div>
            </div>
            <div class="card h-100" style="width: 18rem;">
                <img src="{% static 'media/pancakes-14.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Panqueques</h5>
                    <p class="card-text">Deliciosos Panqueques con una bola de helado y sirope</p>
                    <br>
                    <a href="/carrito" class="btn btn-primary">$ 2.990</a>
                </div>
            </div>
            <div class="card h-100" style="width: 18rem;">
                <img src="{% static 'media/tarta-tres-chocolates.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Torta 3 chocolates</h5>
                    <p class="card-text">Exquisita torta de 3 chocolates casera</p>
                    <br>
                    <a href="/carrito" class="btn btn-primary">$ 4.990</a>
                </div>
            </div>
            <div class="card h-100" style="width: 18rem;">
                <img src="{% static 'media/trozo-de-tarta-de-limon-o-lemon-pie.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pie de Limón</h5>
                    <p class="card-text">Pie de Limón casera con huevos nacionales</p>
                    <br>
                    <a href="/carrito" class="btn btn-primary">$ 3.990</a>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}